# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [43]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

#Incorporates ratelimit to prevent exceeding API call limit
from ratelimit import limits, sleep_and_retry

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [44]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
#lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
#lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)


#let's start with a smaller list of cities 
lats = np.random.uniform(lat_range[0], lat_range[1], size=75)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=75)

lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
print(len(cities))
print(cities)

60
['iqaluit', 'jalu', 'yar-sale', 'coihaique', 'bengkulu', 'albany', 'hasaki', 'diapaga', 'wagar', 'punta arenas', 'pevek', 'busselton', 'ushuaia', 'chicama', 'hobart', 'mataura', 'totness', 'hamilton', 'gat', 'anaconda', 'kapaa', 'murashi', 'qaanaaq', 'rikitea', 'san carlos del zulia', 'mahibadhoo', 'bluff', 'kruisfontein', 'camacha', 'sangar', 'kodiak', 'ayorou', 'tuktoyaktuk', 'barentsburg', 'bredasdorp', 'cidreira', 'tsihombe', 'vaini', 'atuona', 'belushya guba', 'chokurdakh', 'mahebourg', 'agsu', 'constitucion', 'butaritari', 'souillac', 'victoria', 'olinda', 'srednekolymsk', 'port elizabeth', 'avarua', 'tautira', 'asilah', 'port alfred', 'nanortalik', 'castro', 'marrakesh', 'juegang', 'bulawayo', 'vaitupu']

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [45]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"

#initialize the lists
cloudiness = []
country = []
date = []
humidity = []
longitude = []
latitude = []
max_temp = []
wind_speed = []
city_name = []
city_id = []

In [48]:
record_counter = 0
set_counter = 0
units = "imperial"

for city in cities:
    # Build query URL 
    query_url = f"{url}appid={weather_api_key}&q={city}&units=units"
    
    if cities.index(city)%50==0:
        time.sleep(10)
        set_counter += 1
        record_counter = 0
    else:
        record_counter +=1
    
    print(f"Processing record {record_counter} of set {set_counter} | {city}") 
    
    weather_json = requests.get(query_url).json()
    try:  
        longitude.append(weather_json["coord"]["lon"])
        latitude.append(weather_json["coord"]["lat"])
        max_temp.append(weather_json["main"]["temp_max"])
        cloudiness.append(weather_json["clouds"]["all"])
        country.append(weather_json["sys"]["country"])
        date.append(weather_json["dt"])
        humidity.append(weather_json["main"]["humidity"])
        wind_speed.append(weather_json["wind"]["speed"])
        city_name.append(city)
        city_id.append(weather_json["id"])
    except:
        print(f"City {city} not found. Continuing...")

Processing record 0 of set 1 | iqaluit
Processing record 1 of set 1 | jalu
Processing record 2 of set 1 | yar-sale
Processing record 3 of set 1 | coihaique
Processing record 4 of set 1 | bengkulu
Processing record 5 of set 1 | albany
Processing record 6 of set 1 | hasaki
Processing record 7 of set 1 | diapaga
Processing record 8 of set 1 | wagar
Processing record 9 of set 1 | punta arenas
Processing record 10 of set 1 | pevek
Processing record 11 of set 1 | busselton
Processing record 12 of set 1 | ushuaia
Processing record 13 of set 1 | chicama
Processing record 14 of set 1 | hobart
Processing record 15 of set 1 | mataura
Processing record 16 of set 1 | totness
Processing record 17 of set 1 | hamilton
Processing record 18 of set 1 | gat
Processing record 19 of set 1 | anaconda
Processing record 20 of set 1 | kapaa
Processing record 21 of set 1 | murashi
Processing record 22 of set 1 | qaanaaq
Processing record 23 of set 1 | rikitea
Processing record 24 of set 1 | san carlos del zulia
Processing record 25 of set 1 | mahibadhoo
Processing record 26 of set 1 | bluff
Processing record 27 of set 1 | kruisfontein
Processing record 28 of set 1 | camacha
Processing record 29 of set 1 | sangar
Processing record 30 of set 1 | kodiak
Processing record 31 of set 1 | ayorou
Processing record 32 of set 1 | tuktoyaktuk
Processing record 33 of set 1 | barentsburg
City barentsburg not found. Continuing...
Processing record 34 of set 1 | bredasdorp
Processing record 35 of set 1 | cidreira
Processing record 36 of set 1 | tsihombe
City tsihombe not found. Continuing...
Processing record 37 of set 1 | vaini
Processing record 38 of set 1 | atuona
Processing record 39 of set 1 | belushya guba
City belushya guba not found. Continuing...
Processing record 40 of set 1 | chokurdakh
Processing record 41 of set 1 | mahebourg
Processing record 42 of set 1 | agsu
City agsu not found. Continuing...
Processing record 43 of set 1 | constitucion
Processing record 44 of set 1 | butaritari
Processing record 45 of set 1 | souillac
Processing record 46 of set 1 | victoria
Processing record 47 of set 1 | olinda
Processing record 48 of set 1 | srednekolymsk
Processing record 49 of set 1 | port elizabeth
Processing record 0 of set 2 | avarua
Processing record 1 of set 2 | tautira
Processing record 2 of set 2 | asilah
Processing record 3 of set 2 | port alfred
Processing record 4 of set 2 | nanortalik
Processing record 5 of set 2 | castro
Processing record 6 of set 2 | marrakesh
Processing record 7 of set 2 | juegang
Processing record 8 of set 2 | bulawayo
Processing record 9 of set 2 | vaitupu
City vaitupu not found. Continuing...

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [ ]:
print(city_list)

In [51]:
#store the required data
# create a data frame from cities, lat, and other retrieved data
weather_dict = {
            "city": city_name,
            "city_id": city_id,
            "lat": latitude,
            "max_temp": max_temp,
            "cloudiness": cloudiness,
            "country": country,
            "date": date,
            "humidity": humidity,
            "long": longitude,
            "wind_speed": wind_speed
    
        }
weather_data = pd.DataFrame(weather_dict)
weather_data
weather_data.to_csv(output_data_file)

In [ ]:
#sample starter file data

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [63]:
remove_hum = weather_data.loc[weather_data.humidity < 101]
remove_hum

,city,lat,max_temp,cloudiness,country,date,humidity,long,wind_speed
0,iqaluit,63.75,264.15,90,CA,1607208630,85,-68.51,7.20
1,jalu,29.03,291.00,19,LY,1607208862,29,21.55,7.68
2,yar-sale,66.83,261.30,57,RU,1607208862,96,70.83,3.83
3,coihaique,-45.58,299.15,0,CL,1607208862,31,-72.07,3.10
4,bengkulu,-3.80,297.70,95,ID,1607208863,80,102.27,2.16
...,...,...,...,...,...,...,...,...,...
160,nanortalik,60.14,272.34,99,GL,1607208784,98,-45.24,1.04
161,castro,-24.79,289.16,100,BR,1607208883,96,-50.01,6.65
162,marrakesh,31.63,282.15,40,MA,1607208884,87,-8.01,1.50
163,juegang,32.32,280.93,0,CN,1607208884,74,121.19,1.34
164,bulawayo,-20.15,289.02,100,ZW,1607208884,93,28.58,6.01

In [60]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        165 non-null    object
 1   lat         165 non-null    float64
 2   max_temp    165 non-null    float64
 3   cloudiness  165 non-null    int64
 4   country     165 non-null    object
 5   date        165 non-null    int64
 6   humidity    165 non-null    int64
 7   long        165 non-null    float64
 8   wind_speed  165 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 11.7+ KB

In [65]:
#  Get the indices of cities that have humidity over 100%.
over_hundred = weather_data.loc[weather_data.humidity > 100]
over_hundred

Empty DataFrame
Columns: [city, lat, max_temp, cloudiness, country, date, humidity, long, wind_speed]
Index: []

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression