# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
import json

# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_path = "../WeatherPy/output_data/cities.csv"
csv_df = pd.read_csv(csv_path, index_col=0)
csv_df
csv_df['city'].nunique()
clean=csv_df.drop_duplicates(subset = ['city'],keep = 'first')
clean

,city,city_id,lat,max_temp,cloudiness,country,date,humidity,long,wind_speed
0,talkha,347591,31.05,54.84,0,EG,1607227361,79,31.38,5.23
1,ushuaia,3833367,-54.80,53.60,40,AR,1607227261,71,-68.30,5.82
2,grindavik,3416888,63.84,32.00,90,IS,1607227362,82,-22.43,21.92
3,odienne,2283016,9.51,72.03,0,CI,1607227362,50,-7.57,3.51
4,matagami,6067747,49.75,10.40,90,CA,1607227362,92,-77.63,5.82
...,...,...,...,...,...,...,...,...,...,...
558,ruteng,1629380,-8.61,68.50,100,ID,1607228576,100,120.47,2.26
559,carahue,3896774,-38.70,51.80,90,CL,1607228576,100,-73.17,6.93
560,altamira,3407882,-3.20,73.58,11,BR,1607228324,95,-52.21,2.98
561,saint-louis,2246451,16.33,75.20,0,SN,1607228576,38,-15.00,2.24
562,xining,1788852,36.62,23.61,100,CN,1607228577,82,101.77,2.44

In [5]:
locations = clean[['lat','long']]
weights = clean['humidity']
gmaps.configure(g_key)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = weights, dissipating = False, max_intensity=30,point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
locations = clean[['lat','long']]
weights = clean['humidity']
gmaps.configure(g_key)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = weights, dissipating = False, max_intensity=30,point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
##Let's see if any of these cities would be a great vacation spot.

jens_vacay = clean.loc[(clean.max_temp < 90) & (clean.max_temp > 50)
                       & (clean.cloudiness < 10)
                      & (clean.humidity < 50)
                      & (clean.wind_speed < 5)]
jens_vacay

,city,city_id,lat,max_temp,cloudiness,country,date,humidity,long,wind_speed
10,ramanuj ganj,1258731,23.80,73.47,0,IN,1607227364,35,83.70,0.43
70,gwalior,1270583,26.22,73.56,0,IN,1607227469,28,78.18,1.23
157,baikunthpur,1277769,23.25,72.82,0,IN,1607227670,31,82.55,1.57
264,kankan,2419992,10.39,69.26,0,GN,1607227875,37,-9.31,2.89
293,ondjiva,3346821,-17.07,65.80,8,AO,1607227972,34,15.73,4.45
304,bharatpur,1276128,27.22,72.05,0,IN,1607227974,34,77.48,4.65
373,pathalgaon,1260141,22.57,73.24,0,IN,1607228171,33,83.47,2.77
477,bantou,1796663,26.22,68.77,0,CN,1607228376,44,117.49,3.49
538,akyab,1295765,20.15,77.02,0,MM,1607228481,46,92.90,2.37
561,saint-louis,2246451,16.33,75.20,0,SN,1607228576,38,-15.00,2.24

In [21]:
jens_vacay.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 10 to 561
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        10 non-null     object
 1   city_id     10 non-null     int64
 2   lat         10 non-null     float64
 3   max_temp    10 non-null     float64
 4   cloudiness  10 non-null     int64
 5   country     10 non-null     object
 6   date        10 non-null     int64
 7   humidity    10 non-null     int64
 8   long        10 non-null     float64
 9   wind_speed  10 non-null     float64
dtypes: float64(4), int64(4), object(2)
memory usage: 880.0+ bytes

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [34]:
base_url =

23.8,83.7
26.22,78.18
23.25,82.55
10.39,-9.31
-17.07,15.73
27.22,77.48
22.57,83.47
26.22,117.49
20.15,92.9
16.33,-15.0

In [41]:
hotel_df = jens_vacay
#add column for HOtel Name
hotel_df["Hotel Name"] = ""

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for index, row in hotel_df.iterrows():    
    lat = row.lat
    lon = row.long

    params = {
            "location": f'{lat}, {lon}',
            "types": "lodging",
            "radius": 5000,
            "key": g_key
            }
    response = requests.get(base_url, params).json()
    #update with the hotel name
    try:
        hotel_df.loc[index, "Hotel Name"] = response['results'][0]['name']
    except:
        print(f'Issue with finding a hotel at {row["city"]}')
        hotel_df.loc[index, "Hotel Name"] = "NA"
    
hotel_df

<ipython-input-41-0f1a4dd18b9b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["hotel Name"] = ""
C:\Users\johan\Anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\johan\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Issue with finding a hotel at bantou
Issue with finding a hotel at saint-louis

,city,city_id,lat,max_temp,cloudiness,country,date,humidity,long,wind_speed,hotel Name,Hotel Name
10,ramanuj ganj,1258731,23.80,73.47,0,IN,1607227364,35,83.70,0.43,,HOTEL SAI SIDDHI
70,gwalior,1270583,26.22,73.56,0,IN,1607227469,28,78.18,1.23,,"Taj Usha Kiran Palace, Gwalior"
157,baikunthpur,1277769,23.25,72.82,0,IN,1607227670,31,82.55,1.57,,Hotel Shree Annpurna inn
264,kankan,2419992,10.39,69.26,0,GN,1607227875,37,-9.31,2.89,,Hotel Bate
293,ondjiva,3346821,-17.07,65.80,8,AO,1607227972,34,15.73,4.45,,SOS Motel
304,bharatpur,1276128,27.22,72.05,0,IN,1607227974,34,77.48,4.65,,OYO 22446 Sonar Haveli
373,pathalgaon,1260141,22.57,73.24,0,IN,1607228171,33,83.47,2.77,,Queens Park Marriage Garden
477,bantou,1796663,26.22,68.77,0,CN,1607228376,44,117.49,3.49,,NA
538,akyab,1295765,20.15,77.02,0,MM,1607228481,46,92.90,2.37,,Hotel Memory
561,saint-louis,2246451,16.33,75.20,0,SN,1607228576,38,-15.00,2.24,,NA

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure